body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  outline: none;
}
.board-row{
  height: 50px;
  display: flex;
}
.square{
  display: block;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  background: white;
  border: 1px solid grey;
  box-sizing: border-box;
  font-size: 40px;
}
.btn {

}